.ornavi_string_container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.ornavi_string_main_container {
    margin-bottom: 10px;

    position: relative;
}

.ornavi_string {
    display: inline-block;
    width: 100%;
    height: 2px;
    background:  #9e9d9d;
    position: absolute;
    top: 50%;
}

.ornavi_on_string img, .ornavi_on_string {
    position: relative;
}

.ornavi_customer_delete {
    float: right;
}

.ornavi_customer_box {
    display: inline-block;
    width: 40%;
    margin: 30px
}
