/* STEP 1 */

#ornavi_step1, #ornavi_step3{
    background-color: #FFE2D5;
    padding: 4% 0;
}

.ornavi_step1_wrap{
    width: 80%;
    margin: 0 auto;
}

.ornavi_step1_wrap p{
    color: #000;
}

.ornavi_step1_wrap h1{
    text-align: center;
    margin-bottom: 1em;
}

.ornavi_step1_wrap a{
    color: black;
}

.ornavi_step1_wrap table{
    margin: 0 auto;
    margin-bottom: 2em;
}

.step1_foot{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#step1_continue img{
    width: 7px;
    height: 8px;
    margin-left: 5px;
}

.icon-i{
    background-color: #000;
    padding: 0 8px;
    color: #fff;
    font-style: italic;
}

#step1_continue, .ornavi_submit button{
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    width: 150px;
    height: 40px;
    cursor: pointer;
}


/* MAIN */
#ornavi_custom{
    overflow: hidden;
}

.ornavi_head span, .ornavi_head span a{
    color: #000 !important;
    font-size: 14px !important;
}

.ornavi_head span:nth-child(n+2):before{
    content: '•';
    display: inline-block;
    margin: 0 0.5em;
}

#ornavi_filter_modal_click{
    color: #000;
    width: 500px;
    padding: 0 3%;
}

#ornavi_filter_modal_click img{
    width: 20%;
    margin-left: 2%;
}

#ornavi_filter_modal_click h2{
    text-align: center;
}

#ornavi_filter_modal_click table{
    margin: 0 auto;
}

#ornavi_filter_modal_click th{
    width: 40%;
    font-weight: normal;
}

#ornavi_filter_modal_click tr{
    height: 40px;
}

.ornavi_filter_foot span{
    margin-left: 5%;
}

.ornavi_filter{
    display: inline-block;
    color: #888383;
}

.ornavi_arrow_box{
    float: right;
    display: inline-block;
}

.ornavi_container{
    height: 200px;
    width: 100%;
}

.ornavi_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 17px;
    width: 75%;
    margin: 25px auto;
}

.ornavi_attr span, .ornavi_attr{
    text-transform: uppercase;
    font-size: 14px;
    margin-right: 1em;
    color: #888383;
    padding: 0.25em 0.5em;
}

.ornavi_attr:hover{
    cursor: pointer;
}

.ornavi_box_center, .ornavi_attr span:hover{
    color: #fff !important;
    text-decoration: none !important;
}

.ornavi_box, .ornavi_box_center ,.ornavi_attr span:hover{
    position: relative;
    background: #000;
    padding: 0.25em 0.5em;
    color: #fff !important;
}

.ornavi_box_center::after, .ornavi_box_left::after, .ornavi_box_right::after, .ornavi_attr span:hover::after{
    top: 90%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0);
	border-top-color: #000;
	border-width: 10px;
	margin-left: -10px;
}

.ornavi_box_center::after, .ornavi_attr span:hover::after{
    left: 50%;
}

.ornavi_box_left::after{
    left: 20%;
}

.ornavi_box_right::after{
    left: 80%;
}

.ornavi_length_warning{
    color: #000;
}

.ornavi_string_main_container{
    width: 70%;
    margin: 50px auto;
    position: relative;
}

.ornavi_string_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#ornavi_string{
    display: inline-block;
    width: 100%;
    height: 2px;
    background:  #9e9d9d;
    position: absolute;
    top: 50%;
}

.ornavi_fav_head{
    font-size: 17px;
    text-align: center;
    margin-top: 2em;
}

.ornavi_fav_top_head{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}

.ornavi_fav_head_box{
    background-color: #e2e2e2;
    margin-top: 1em;
    margin-bottom: 0.5em;
    color: #888383;
}

.ornavi_fav_head .ornavi_heart{
    margin: 0 0.25em;
    width: 17px;
    height: 15px;
}

.ornavi_comment{
    font-size: 10px;
}

.choose_fav{
    font-size: 0.6em;
    margin-left: 1em;
}

.ornavi_arrow_fav_box{
    float: right;
    margin-right: 10%;
}

.ornavi_product_menu{
    margin: 25px 0;
    background-color: #e2e2e2;
    color: #868686;
    padding: 2px 10%;
}

.ornavi_product_main_container{
    position: relative;
}

.ornavi_product_container_blankbox{
    position: absolute;
    height: 100%;
    width: 10%;
    background-color: #fff;
    z-index: 1;
    display: inline-block;
}

.ornavi_product_container_blankbox.blankbox_left{
    left: 0;
    top: 0;
}

.ornavi_product_container_blankbox.blankbox_right{
    right: 0;
    top: 0;
}

.ornavi_product_container, .ornavi_fav_container{
    width: 80%;
    display: inline-block;
}

.ornavi_fav_container .ornavi_product, #choose_fav_modal .ornavi_product{
    margin: 0 0.25em;
}

.ornavi_product_2_cont{
    margin: 0.5em 0.25em;
}

.ornavi_product_container{
    left: 10%;
}

.slick-slider{
    display: inline-block !important;
}

.ornavi_arrow{
    background-color: #000;
    width: 35px;
    height: 20px;
    position: relative;
    cursor: pointer;
    float: left;
}

.ornavi_arrow i{
    border: solid #fff;
    border-width: 0 3px 3px 0;
    padding: 3px;
    position: absolute;
    bottom: 26%;
    left: 40%;
}

.ornavi_arrow.arrow_left, .ornavi_arrow.arrow_fav_left{
    margin-right: 0.3em;
}

.ornavi_arrow.arrow_right i, .ornavi_arrow.arrow_fav_right i{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.ornavi_arrow.arrow_left i, .ornavi_arrow.arrow_fav_left i{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.ornavi_product_blank{
    margin: 0 0.25em;
    height: 140px;
    background-color: #F9F7F6;
}

.ornavi_product, .ornavi_product_blank{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #e3e3e3;
    text-align: center;
}

.ornavi_shadow_dot{
    height: 50px;
    width: 50px;
    padding: 20px 0;
    background-color: #F9F7F6;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 28%;
    -webkit-box-shadow: 0px 33px 20px -6px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 33px 20px -6px rgba(0,0,0,0.2);
    box-shadow: 0px 33px 20px -6px rgba(0,0,0,0.2);
}

.ornavi_price, .ornavi_name, .arrow_right::after, .arrow_right::before, .arrow_left::after, .arrow_left::before{
    color: #000;
    text-align: center;
    font-size: 14px;
    padding: 0.25em 0;
    background: #e7e6e5;
}

.ornavi_name{
    text-align: left;
    padding: 0.25em 0.50em;
    position: relative;
    height: 27px;
}

.ornavi_product_container .ornavi_fav{
    display: none;
}

.ornavi_name span{
    position: absolute;
    right: 0.5em;
}

.ornavi_price span{
    color: #000;
    position: absolute;
    right: 0.5em;
}

.ornavi_price{
    position: relative;
    text-align: left;
    padding: 0 1em;
}

.ornavi_price .ornavi_fav{
    color: #000;
    position: absolute;
    right: 0.5em;
    color: #B5B3B2;
    font-size: 18px;
}

.ornavi_fav.add{
    -webkit-transform:scale(1.5,1);
    -moz-transform:scale(1.5,1);
    -ms-transform:scale(1.5,1);
    -o-transform:scale(1.5,1);
    transform:scale(1.5,1);
}

.ornavi_fav.added::after{
    color: red !important;
}

.ornavi_fav.add::after{
    content: "♥";
    color: #B5B3B2;
}

.ornavi_fav.del::after{
    content: "✕";
}

.ornavi_product_img{
    width: 50px;
    cursor: move;
    margin: 0 auto;
    padding: 20px 0;
}

.ornavi_product_2_cont .ornavi_product_img{
    height: 90px;
}

#step2_continue{
    border: none;
    color: #fff;
    padding: 0.8em 1.5em;
    text-decoration: none;
    display: block;
    font-size: 18px;
    cursor: pointer;
    background-position: left center;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #000;
}

.ornavi_on_string img, .ornavi_product_img.ui-draggable-dragging, .ornavi_on_string{
    padding: 0 0;
    position: relative;
    float: left;
    border: none;
}

.ornavi_product_img.ui-draggable-dragging{
    height: auto;
}

.ornavi_on_string_delete{
    display: inline-block;
    background-image: url('/modules/ornavicustom/views/img/cross.png');
    background-repeat: no-repeat;
    background-size: 12px;
    cursor: pointer;
    width: 12px;
    height: 12px;
    position: absolute;
    right: 5px;
    color: #cccccc;
    display: none;
}

.ornavi_on_string:before {
    content:'';
    position:absolute;
    top:-25px;
    bottom:0; 
    left:0;
    right:0; 
}

.slick-list{
    overflow: visible !important;
}

.ui-sortable-helper{
    top: auto !important;
}

.choose_fav_header .choose_fav_text{
    padding-right: 1em;
}

.choose_fav_header img{
    width: 20%;
}

.choose_fav_header h1{
    text-align: center;
    margin-bottom: 0.5em;
}
.choose_fav_header h2{
    flex-shrink: 0;
}

.choose_fav_text p{
    text-align: justify;
}

.choose_fav_text p, .choose_fav_text h1, .choose_fav_header h2{
    color: #000;
}

.choose_fav_text p .heart{
    color: #B5B3B2;
}

.choose_fav_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

#choose_fav_products{
    width: 90%;
    margin: 0 auto;
}

#choose_fav_products .ornavi_product{
    width: 143px;
    display: inline-block;
    margin-bottom: 1em;
    text-align: center;
}


/* STEP 3 */

#step2_back{
}

#ornavi_step3 button{
    border: 1px solid #9A817F;
}

.ornavi_step3_wrap {
    width: 80%;
    margin: 0 auto;
}

.ornavi_step3_wrap p{
    margin-bottom: 1.5em;
}

#ornavi_step3 h1 {
    text-align: center;
}

#ornavi_step3 h1:after {
    content: "";
    width: 40%;
    margin: 0.5em auto;
    display: block;
    height: 1px;
    background-color: #000;
}

#ornavi_step3 p {
    color: #000;
}
.ornavi_step3_wrap button{
    cursor: pointer;
}

.ornavi3_head{
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 17px;
    padding: 5px 0;
}

.ornavi3_subhead{
    background-color: #F5E1DF;
    padding: 1em 0.4em 0.4em 0.4em;
    margin-bottom: 0.5em;
    font-size: 0.75rem;
    color: #000;
}

.ornavi3_block_container{
    display: flex;
    justify-content: space-between;
}

.ornavi3_block{
    position: relative;
}

.ornavi3_packaging_wrap{
    display: flex;
    justify-content: space-between;
}

.ornavi3_selected{
    border: 2px solid #000;
}

.ornavi3_packaging_wrap div:first-child{
    margin-right: 2%;
}

.ornavi3_packaging_wrap div:last-child{
    margin-left: 2%;
}

.ornavi3_packaging_wrap div img{
    width: 100%;
}

.ornavi3_divider{
    background-color: #E4E2E2;
    width: 4px;
    margin: 0 2%;
}

.ornavi3_card_items{
    display: flex;
    justify-content: space-between;
}

.ornavi3_card_items div{
    text-align: center;
}

.ornavi3_card_items div:first-child{
    margin-right: 2%;
}

.ornavi3_card_items div:last-child{
    margin-left: 2%;
}

.ornavi3_card_items div img{
    width: 100%;
    margin-bottom: 1em;
}

.card_text_counter_wrap{
    text-align: right;
    padding-right: 0.5em;
    position: absolute;
    bottom: 0.5em;
    color: #BCBCBC;
    font-style: italic;
    width: 100%;
}

.ornavi3_card textarea{
    border: none;
    width: 100%;
    resize: none;
    height: 6em;
    padding: 0.5em;
    position: absolute;
    bottom: 0;
}

.ornavi3_card textarea::placeholder{
    font-style: italic;
}

.ornavi3_block_buttons{
    width: calc(48% - 5px);
    text-align: center;
    margin-top: 1em;
    margin-bottom: 4em;
}

.ornavi3_block_buttons div{
    width: 50%;
    float: left;
}

.ornavi3_block_buttons:after{
    content: "";
    display: table;
    clear: both;
}

.ornavi_submit a{
    color: #000;
    position: absolute;
    left: 0;
    bottom: 0;
}

.ornavi_submit{
    position: relative;
    text-align: right;
}

.ornavi_step3_wrap .ornavi_box{
    font-size: 0.75rem;
}

/* CUSTOM SELECT */

.custom-select-container {
    position: relative;
    box-sizing: border-box;
    margin: 2px 10px;
  }
  .custom-select-container * {
    box-sizing: border-box;
  }
  .custom-select-container.is-disabled {
    opacity: .333;
  }
  .custom-select-opener {
    background-color: #fff;
    color: #868686;
    padding: 0.5em;
    display: block;
    cursor: pointer;
    border: 1px solid #000;
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    width: 200px;
    height: 35px;
    background: url('/modules/ornavicustom/views/img/arrow.png') 94% / 5% no-repeat #fff;
  }

  .custom-select-container select {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  .custom-select-panel {
    max-height: 0;
    transition: max-height .5s ease-out, overflow-y 0.1s 0.5s;
    overflow: hidden;
    background-color: #fff;
    position: absolute;
    top: 100%;
    z-index: 1;
    width: 200px;
    color: #868686;
  }
  .custom-select-container.is-open .custom-select-panel {
    max-height: 10.7em;
    overflow-y: auto
  }
  .custom-select-option {
    padding: 0.5em;
  }
  .custom-select-option.has-focus {
    background-color: LightBlue;
  }
  .custom-select-optgroup > .custom-select-option {
    padding-left: 2em;
  }
  .custom-select-optgroup::before {
    content: attr(data-label);
    display: block;
    padding: 0.5em;
    color: #000;
  }