.ornavi_string_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ornavi_string_main_container{
    width: 80%;
    margin: 50px auto;
    position: relative;
}

.ornavi_string{
    display: inline-block;
    width: 100%;
    height: 2px;
    background:  #9e9d9d;
    position: absolute;
    top: 50%;
}

.ornavi_on_string img, .ornavi_on_string{
    padding: 0 0;
    position: relative;
}

.ornavi-thumbnail{
    max-width: 45px;
}

.ornavi_table_bottom{
    margin-top: 2em;
}
.ornavi_table_bottom img{
    max-height: 100px;
}