<a class="col-lg-4 col-md-6 col-sm-6 col-xs-12" id="returns-link" href="{$url}">
    <span class="link-item">
        <i class="material-icons">brush</i>
        {l s='Ornavi custom saves'  mod="ornavicustom"}
    </span>
</a>